.navbar{

    background-color: #222020;

}

/* new editing */

.bpit-nav{
    color: rgb(41, 41, 212);
    font-size: 130%;
}

.search-nav{
    color: rgb(197, 28, 28);
    font-size: 130%;
}

.dropbtn {
    background-color: rgb(44, 46, 44);
    padding-top: 13%;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: ease-in 2s;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(110, 105, 105);
    transition: 0.3s ease-in-out;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(44, 46, 44);
}


#heading{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
}

.navbar-nav{
    margin-right: 2%;
}

#login{
    color: white;
    font-size: 120%;
}

#signup{
    color: white;
    font-size: 120%;
}

.searchbody{
    background-image: url("grey-back.jpg");
}

.searchnav{
    background-image: url("grey-back.jpg");
}

.box{
    width: 100%;
    text-align: center;
}

h1{
    font-size: 350%;
    font-family: Bookman, URW Bookman L, serif;
    text-align: center;
    margin-top: 5%;
}

#search{
    border-radius: 4px;
    border: 1px solid grey;
    width: 50%;
    font-size: 150%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
}

#btn{
    font-size: 120%;
    background-color: green;
    border: 1px solid black;
}

#btn:hover{
    background-color: rgb(21, 85, 21);
}

.bpit{
    color: rgb(41, 41, 212);
}

.srch{
    color: rgb(197, 28, 28);
}

.fas{
    color: black;
    font-size: 150%;
}

.inner-addon {
    position: relative;
  }
  
  /* style glyph */
.inner-addon .fas {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align glyph */
.right-addon .fas { 
      right: 25%;
}
  
  /* add padding  */
.right-addon input { 
      padding-left: 1%; 
}
  
.loginbox{
    background-image: url("images.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 500px;
    margin-top: 3%;
    box-shadow: 1px 1px 4px 2px rgb(85, 81, 81); 
    border-radius: 10px;
}

#login-heading{
    text-align: center;
    padding-top: 3%;
    font-size: 210%;
    font-family: Impact, fantasy;
}

#login-form{
    margin-left: 17%;
}

#Eno{
   width: 80%;
   border-radius: 18px;
}

#pass{
    width: 80%;
    border-radius: 18px;
}

.login-btn{
    background-color: black;
    color: white;
    width: 80%;
    border-radius: 18px;
}
#loginbtn{
    font-size: 105%;
    font-family: Optima, sans-serif;
}

#showpass{
    color: black;
}

.psws{
    margin-left: 38%;
    color: rgb(19, 18, 18);
    text-align: center;
}

.pswa{
    margin-left: 38%;
    color: rgb(19, 18, 18);
    text-align: center;
}

#pswrd{
    color: black;
}

#signupbody{
    background-image: url("Dark-Grey-Background.jpg");
}

.signupbox{
    background-image: url("images.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    height: 700px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    box-shadow: 1px 1px 4px 2px rgb(85, 81, 81); 
    border-radius: 10px;
}

#signup-heading{
    text-align: center;
    padding-top: 2%;
    font-family: Impact, fantasy;
    font-size: 240%;
}

.signup-form{
    margin-left: 15%;
}

#enumb{
    font-size: 110%;
}

#name{
    font-size: 110%;
}

.first{
    width: 70%;
}

.last{
    width: 58%;
}

#nam{
    border-radius: 18px;
}

#eml{
    font-size: 110%;
}

#email{
    width: 80%;
    border-radius: 18px;
}

#pass{
    font-size: 110%;
}

#psw{
    width: 80%;
    border-radius: 18px;
}

.signup-btn{
    background-color: black;
    color: white;
    width: 80%;
    border-radius: 18px;
}

.bpithead{
    color: rgb(41, 41, 212);
    font-size: 130%;
}
.searchhead{
    color: rgb(197, 28, 28);
    font-size: 130%;
}
.status{
    background-color: black;
}
.hello{
    color: white;
    font-size: 120%;
}
.details{
    color: black;
}
.table{
    border: 2px solid black;
}

th, td{
    border: 1px solid black;
}

#logout{
    color: white;
    font-size: 120%;
}

#logout:hover {
    text-decoration: none;
}

.submitted-box{
    border: 2px solid black;
    height: 100px;
    width: 57%;
    margin-left: 20%;
}

#submit-status{
    text-align: center;
    font-size: 180%;
    padding-top: 4.2%;
    font-family: monospace;
}

h5{
    color: white;
}

.username{
    background-color: black;
    border: none;
}
.username:hover{
    background-color: black;
    
}